<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(<%=@background_image%>) no-repeat center center fixed;  background-size: cover; height:70vh">
  <div class="container">
    <h1 class="display-4 d-flex justify-content-center" style="color: white; padding-top:100px"><%= (params[:city].present? and not @planes.empty?) ? params[:city] : "No result found" %></h1>
  </div>
</div>


<% @planes.each do |plane| %>
  <% if params[:query].present? %>
    <% plane.city %>
  <% else %>
    <% plane.city if params[:city] == plane.city %>
  <% end %>
<% end %>



<h1 class="p-4">Our Planes</h1> <hr>
<div class="container">
  <div class="row" style="margin-left: 50px">
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1382&q=80">
        <div class="card-trip-infos">
          <div>
            <h2>Bombadier Challenger 300</h2>
            <p class="card-text"> <i class="fas fa-users" style="font-size:16px;"></i> 10</p>
            <h2 class="card-trip-pricing">$ 5000</h2>
          </div>
      <button type="button" class="btn  btn-flat">More Info</button>
    </div>
  </div>
  <div class="row justify-content-between">
   <% @planes.each do |plane| %>
      <% if plane.photos.attached? %>
        <div class="card-trip ">
         <%= cl_image_tag plane.photos.first&.key,  width: 500, height: 200, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2><%= plane.plane_type %></h2>
              <p class="card-text"> <i class="fas fa-users" style="font-size:16px;"></i> <%= plane.max_occupancy %></p>
              <h2 class="card-trip-pricing">$<%=plane.price%></h2>
            </div>
            <%= link_to "More Info", plane_path(plane), class: "btn btn-flat" %>
          </div>
        </div>
      <% else %>
        <div class="card-trip">
          <%= cl_image_tag("https://res.cloudinary.com/dcdspz5mv/image/upload/v1614296491/4zmi3vjhqe0695d348yrasdjwq08.jpg", width: 400, height: 300, crop: :fill) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= plane.plane_type %></h2>
              <p class="card-text"> <i class="fas fa-users" style="font-size:16px;"></i> <%= plane.max_occupancy %></p>
              <h2 class="card-trip-pricing">$<%=plane.price%></h2>
            </div>
            <%= link_to "More Info", plane_path(plane), class: "btn btn-flat" %>
          </div>
        </div>
      <% end %>
    <% end %> 
  </div>
  </div>
</div>



