<div class="container">
  <div class="row">
        <div class="col-sm-12">  
          <%= cl_image_tag @plane.photos.first&.key, style: "width: 100%; height: 50vh; border-radius: 12px;" %>
        </div>
          
          <div class="col-sm-6 m-0 booking-info mt-2">
            <h1><%= @plane.plane_type %></h1>
            <p class="booking-card-text"><%= @plane.city %></p>
            <p class="booking-card-address"><%= @plane.address %></p>
            <p class="booking-card-info">Your return flights coming with 2 air stewards/stewardesses who will be on hand to serve a choice of meal and refreshements. You will habe an opportunity to tailer the menus in advance.</p>
            <p class="booking-card-occupancy"><i class="fas fa-users" style="font-size:20px;"></i> <%= @plane.max_occupancy %> </p>
            <h2 class="booking-card-pricing">$<%=@plane.price%></h2>
          </div>
     
          <div class="col-sm-6 m-0 booking-form mt-2">
          <p class="title_of_form">Book your flight</p>
          <%= render "shared/booking_form" %>
          </div>
   </div>




      


